.custom-marker {
  position: relative;
}

.pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-8px, 4px);
  border-radius: 50%;
  opacity: 0.85;
  border: 8px solid #fff; /* Default color, will be overridden */
}
